{% extends 'main/graphs/timeline.html' %}

{% load graph %}

{% block title %}{{block.super}}: {{title}}{% endblock %}
{% block header_text %}{{block.super}} <br/>{{hit_group.title}}{% endblock %}

{% block content_after %}

<h2>Hit details:</h2>
<dl>
    <dt>Requester</dt><dd>{{ hit_group.requester_name }}</dd>
    <dt>Reward</dt><dd>{{ hit_group.reward }}</dd>
    <dt>Time alloted</dt><dd>{{ hit_group.time_alloted }}</dd>
    <dt>Occurrence date</dt><dd>{{ hit_group.occurrence_date }}</dd>
    <dt>Description</dt><dd>{{ hit_group.description }}</dd>
    <dt>Keywords</dt><dd>{{ hit_group.keywords }}</dd>
    <dt>Qualifications</dt><dd>{{ hit_group.qualifications }}</dd>
</dl>

{% if hit_group.html %} 
<div id="hit_group" style="padding:10px;border:1px solid black">
	{{hit_group.html|safe}}
</div>
{% endif %}

{% endblock %}
