{% extends 'base.html' %}
{% load compressed %}

{% block javascript %}
    {{ block.super }}
    {% compressed_js "core" %}
    {% compressed_js "crud" %}
    {% compressed_js "search" %}
{% endblock %}

{% block content %}
<div class="row-fluid">
<!--  <div class="span3">
    <div class="well sidebar-nav" id="hitgroupcontent-list-sidebar">
    </div>
  </div> -->
  {# <div class="span9"> #}
    <div class="row-fluid">
      <h3>Search HITs</h3>
      <div id="hitgroupcontent-table"></div>
    </div>
  {# </div> #}
</div>
{% endblock %}
