{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/chosen.css" type="text/css" />
    <script src="{{ STATIC_URL }}/js/jquery-1.7.2.js"></script>
    <script src="{{ STATIC_URL }}/js/chosen.jquery.js"></script>
    <script type='text/javascript'>
        $(document).ready(function() { 
            $(".chzn-select").chosen({"width": "100px"}); 
        });
    </script>
    <style>
        input, select {
            margin-bottom: 1px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 1px;
            padding-bottom: 5px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
        };
    </style>
{% endblock %}

{% block content %}
    
    <form method="get" action=".">
        <div class="span-24">
            <div class="span-2">
                <label>search in</label>
            </div>
            <div class="span-8">
                <select multiple="multiple" name="search_in" class="chzn-select"
                    style="width: 80%" id="id_search_in">
                    {% for option in form.fields.search_in.choices %}
                    <option {% if option.0 in form.search_in %}selected="selected"{% endif %} value="{{ option.0 }}">{{ option.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="span-2">
                <label>keywords</label>
            </div>
            <div class="span-8">
                <input type="text" name="q" value="{{ query }}" class="default" />
                &nbsp;
                <input type="submit" value="Search" />
            </div>
        </div>
        <div class="span-24">
            <div class="span-10">
                &nbsp;
            </div>
            <div class="span-2">
                <label>sort by</label>
            </div>
            <div class="span-5">
                <select name="sort_by" id="id_sort_by">
                    {% for option in form.fields.sort_by.choices %}
                    <option value="{{ option.0 }}">{{ option.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="span-3">
                <label>hits per page</label>
            </div>
            <div class="span-3">
                <select name="hits_per_page" id="id_hits_per_page">
                    {% for option in form.fields.hits_per_page.choices %}
                    <option value="{{ option.0 }}">{{option.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if query %}
                <div class="span-2">
                    <label>items found: </label>{{ total_count }}
                </div>
            {% endif %}
        </div>

    </form>
    <div class="span-24">&nbsp;</div>

    {% if query %}
        <table cellspacing="0" cellpadding="0" style="border: 1px solid black;">
            <tbody>
                {% with page.object_list as results %}
                    {% for result in results %}
                        <tr>
                            <td style="border-right: 1px solid #AAA;">
                                <span style="font-size: 120%/1.5;">
                                    <a href="{% url hit_group_details result.group_id %}">
                                        {{ result.title|safe }}
                                    </a>
                                </span>
                            </td>
                            <td style="vertical-align: top;" rowspan="2">
                                <span style="color: #AAA;">
                                    keywords:
                                </span>
                            </td>
                            <td style="vertical-align: top;" rowspan="2">
                                <span style="font-weight: bold;">
                                {% for keyword in result.keywords %}
                                    {{ keyword }}{% if not forloop.last %},&nbsp;{% endif %}
                                {% endfor %}
                                </span>
                            </td>
                            <td style="border-left: 1px solid #AAA;">
                                <span style="color: #AAA;">
                                    time alloted:
                                </span>
                            </td>
                            <td>
                                <span style="font-weight: bold;">
                                    {{ result.time_alloted }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-right: 1px solid #AAA;">
                                <a href="{% url requester_details result.requester_id %}">
                                    {{ result.requester_name|safe }}
                                </a>
                            </td>
                            <td style="border-left: 1px solid #AAA;">
                                <span style="color: #AAA;">
                                    reward:
                                </span>
                            </td>
                            <td>
                                <span style="font-weight: bold;">
                                    {{ result.reward }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #AAA;
                                       border-bottom: 1px solid #AAA;" 
                                colspan="5">
                                {{ result.description|safe }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endwith %}
            </tbody>
        </table>
        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}
                    <a href="{{ submit_url }}&amp;page={{ page.previous_page_number }}">
                {% endif %}
                &laquo; Previous
                {% if page.has_previous %}
                    </a>
                {% endif %}
                |
                {% if page.has_next %}
                    <a href="{{ submit_url }}&amp;page={{ page.next_page_number }}">
                {% endif %}
                Next &raquo;
                {% if page.has_next %}
                    </a>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock %}
