<div class="crud-meta-actions" style="margin: 5px 0 30px 0;">
</div>


<div class="active-actions">
</div>


<div class="row-flexible">
    <table class="">
        <tbody class="crud-items">
            <tr class="crud-message-box" style="display:none;">
                <td class="alert-message center" colspan="<%= meta.fieldsOrder.length %>"></td>
            </tr>
        </tbody>
    </table>
<div/>


<div class="crud-table-paginator pagination">
</div>
